sitemap.xml
sitemap.xml.gz
local-settings.php
wp-app/
wp-app-content/uploads/
wp-app-content/upgrade/
wp-app-content/themes/twentyfifteen/
wp-app-content/themes/the-huxley/
wp-app-content/plugins/
.DS_Store